#taskList > .ui.button {
	height: 38px;
}

#taskList .ui.styled.accordion {
	font-size: 20px;
	margin-top: 20px;
	width: 100%;
}

#taskList .title {
	position: relative;
	padding: 25px 0px 25px 40px;
}

#taskList .content {
	padding: 20px 40px;
}

.dateDetails .dateColor {
	left: 0;
	width: 10px;
}

.dateDetails .ui.label {
	display: none;
	font-size: 16px;
	left: 10px;
	z-index: 1;
}

.title .checkbox {
	left: 3%;
	top: calc(50% - 9px);
}

.title .taskTitle {
	margin-left: 3%;
	max-width: 65%;
}

.title .date {
	margin-right: 40px;
	top: calc(50% - 10px);
}

.title .react-datepicker__input-container input {
	border-radius: .3rem;
	margin-top: -15px;
	outline: 0;
	padding: .6em .8em;
	width: 140px;
}

.title .ui.show.button {
	border-radius: 0;
	margin-right: 0;
	width: 40px;
}

.title .icons {
	direction: rtl;
    width: 130px;
}

.icons .ui.button {
	border-radius: 0;
	padding: 0;
	width: 0;
}

.icons .ui.button .icon {
	font-size: 20px;
	opacity: 0;
}

/*Responsive Styles*/
@media only screen and (max-width: 1200px) {
	.title .taskTitle {
		width: 60%;
	}
}

@media only screen and (min-width: 992px) {
	.title:not(.done):hover .date {
	    right: 120px;
	}

	.title:not(.done):hover .ui.button {
	    width: 65px;
	}

	.title:not(.done):hover .icon {
	    opacity: 1;
	}

	.title .ui.show.button {
		display: none;
	}
}

@media only screen and (max-width: 992px) {
	.done .ui.show.button {
		display: none;
	}
	
	.title .checkbox {
		left: 4%;
	}

	.title .taskTitle {
		width: 80%;
	}

	.title .date,
	.title .icons,
	.showBox:checked ~ .taskItemLeft {
		opacity: 0;
		pointer-events: none;
	}

	.showBox:checked ~ .ui.show.button {
		padding-right: calc(100% - 21px);
	}

	.showBox:checked ~ .taskItemRight .date {
		right: 120px;
	}

	.showBox:checked ~ .taskItemRight .icons .ui.button {
		width: 65px;
	}

	.showBox:checked ~ .taskItemRight .date,
	.showBox:checked ~ .taskItemRight .icons,
	.showBox:checked ~ .taskItemRight .icons .icon {
		opacity: 1;
		pointer-events: auto;
	}
}

@media only screen and (max-width: 600px) {
	.title .checkbox {
		left: 5%;
	}
}