#taskShow > div {
	padding: 25px 40px;
	margin-top: 20px;
}

.info .title {
	font-size: 24px;
	padding-bottom: 25px;
	width: 100%;
}

.info .description {
	font-size: 16px;
	margin: 0;
}

.steps .dragged {
	display: none;
}

.stepItem {
	border-radius: .28571429rem;
	position: relative;
	margin: 25px auto;
	padding: 25px 40px;
	text-align: center;
	width: 85%;
	word-wrap: break-word;
}

.stepItem .ui.checkbox {
	position: absolute;
	left: 3%;
	/*Make this 5% for small screens*/
	top: 40%;
}

.stepItem .content {
	font-size: 20px;
	margin: 0 9% 0 4%;
}

.stepItem .ui.button {
	position: absolute;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	width: 50px;
}

.stepItem .ui.button .icon {
	font-size: 20px;
	margin: 0;
}

@media only screen and (max-width: 992px) {
	.stepItem {
		width: 100%;
	}

	.stepItem .ui.checkbox {
		left: 4%;
	}
}

@media only screen and (max-width: 768px) {
	.stepItem .ui.checkbox {
		left: 5%;
	}

	.stepItem .ui.button {
		width: 35px;
	}
}