#taskList > .ui.button {
	height: 38px;
}

#taskList .ui.styled.accordion {
	font-size: 20px;
	margin-top: 20px;
	width: 100%;
}

#taskList .title {
	line-height: 1.2;
	padding: 25px 0px 25px 40px;
	position: relative;
}

#taskList .content {
	padding: 20px 40px;
	word-wrap: break-word;
}

.title .taskTitle {
	display: inline-block;
	margin-left: 10px;
}

.title .date {
	position: absolute;
	margin-right: 40px;
	right: 0;
	top: 33%;
	transition: 200ms;
}

.dateDetails .dateColor {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	width: 10px;
}

.dateDetails .ui.label {
	position: absolute;
	display: none;
	left: 10px;
	font-size: 16px;
	z-index: 1;
}

.title .checkbox {
	margin: 0;
}

.title .react-datepicker__input-container input {
	border-radius: .3rem;
	margin-top: -12px;
	outline: 0;
	padding: .6em .8em;
	width: 140px;
}

.icons {
	position: absolute;
	direction: rtl;
    height: 100%;
    right: 0;
    top: 0;
    width: 130px;
}

.icons .ui.button {
	border-radius: 0;
	margin: 0;
	padding: 28px 0;
	width: 0;
	transition: 200ms;
}

.icons .ui.button .icon {
	font-size: 20px;
	opacity: 0;
}

/* Pseudo-Selectors */

.title:not(.done):hover .date {
    right: 122px;
}

.title:not(.done):hover .ui.button {
    width: 65px;
}

.title:not(.done):hover .icon {
    opacity: 1 !important;
}

.dateDetails:hover .ui.label:not(.done) {
	display: block;
}