#mainContainer {
	padding-top: 3.6rem;
}

#mainContainer > .ui.container {
	padding-top: 40px;
}

#header .item {
	font-size: 18px;
	outline: 0;
}

/*Common Styles*/

.title .show.button,
.icons .ui.red.button a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title:not(.done) .dateDetails:hover .ui.label,
.title .taskTitle {
	display: inline-block;
}

#landing .login .registerMessage,
.showBox,
.steps .dragged {
	display: none;
}

.dateDetails .dateColor,
.title .ui.show.button,
.title .icons,
.icons .ui.button,
.icons .ui.red.button a,
.stepItem .ui.button {
	height: 100%;
}

#landing #userForm,
.icons .ui.button,
.info .description,
.stepItem .ui.button,
.stepItem .ui.button .icon {
	margin: 0;
}

div[contenteditable="true"] {
	outline: 0;
}

.title .date,
.title .icons,
.title .ui.show.button,
.stepItem .ui.button {
	right: 0;
}

.dateDetails .dateColor,
.dateDetails .ui.label,
.title .checkbox,
.title .date,
.title .icons,
.title .ui.show.button,
.stepItem .ui.checkbox,
.stepItem .ui.button {
	position: absolute;
}

#errorMessage,
#landing .header,
.eight.wide.column h2,
.registerMessage,
.stepItem {
	text-align: center;
}

.dateDetails .dateColor,
.title .ui.show.button,
.title .icons,
.stepItem .ui.button {
	top: 0;
}

.done div {
	text-decoration: line-through;
	text-decoration-color: #3c3c3c;
	text-decoration-thickness: 3px;
}

.title .date,
.title .ui.show.button,
.title .icons,
.icons .ui.button {
	transition: 200ms;
}

#taskList .content,
.title .taskTitle,
.info .title,
.info .description,
.stepItem {
	word-wrap: break-word;
}

/*Colors*/

body {
	background-color: #202020;	/*darkest gray*/
}

#taskShow .stepItem {
	background-color: #2a2a2a;	/*darker gray*/
}

#header,
#taskList .content {
	background-color: #333333;	/*dark gray*/
}

#taskList .dropdown.icon {
	color: #333333;	/*dark gray*/
}

#userForm .eight.wide.column,
#taskList .ui.styled.accordion,
#taskShow > div {
	background-color: #3c3c3c;	/*gray*/
}

#taskList .ui.show.button,
#taskList .late,
#taskList .ui.styled.accordion .done,
#taskShow .done.stepItem {
	background-color: #818181;	/*light gray*/
}

#userForm ::placeholder {
	color: #818181;		/*light gray*/
}

#userForm input,
#taskList .ui.compact.menu,
#taskList .ui.compact.menu .menu,
#taskList input {
	background-color: #D7D7D7; /*lighter gray*/
}

body,
#taskList .taskTitle,
#taskList .date span,
#taskList .icon,
#taskList .ui.label {
	color: #EDEDED;		/*white-ish*/
}

.dateDetails .immediate,
.ui.red.button {
	background-color: #e74c3e;	/*red*/
}

.dateDetails .soon,
.ui.edit.button {
	background-color: #f0a400;	/*yellow*/
}

.dateDetails .later,
.editting .ui.edit.button {
	background-color: #55b83e;	/*green*/
}

#taskList .editting.content,
#taskShow .placeholder .stepItem {
	background-color: #32475d; /*darker blue*/
}

#taskList .editting.title {
	background-color: #42576d; /*dark blue*/
}

.ui.blue.button {
	background-color: #589de0;	/*blue*/
}

a {
	color: #6ab0f3;
}

/*Overriding Semantic UI Styles*/

.icon:not(.plus) {
	margin: 0 !important;
}

.ui.yellow.button:not(:hover) {
	background-color: #fbbd08 !important;
}

.ui.green.button:not(:hover) {
	background-color: #21ba45 !important;
}