body {
	background-color: aliceblue;
}

#taskList .icons,
#taskList .date {
	float: right;
}

#mainContainer {
	padding-top: 3.6rem;
}

#errorMessage {
	text-align: center;
}

#header .item {
	font-size: 18px;
}

#userForm {
	margin: 80px auto;
}

#userForm .eight.wide.column {
	background-color: white;
	margin: 0 auto;
	padding: 30px 1rem;
}

#userForm h2 {
	text-align: center;
}

#userForm .field {
	font-size: 16px;
	margin: 10px auto;
	width: 90%;
}

#userForm .ui.button.primary {
	margin: 0 5%;
	width: 90%;
}

#taskList {
	margin-top: 20px;
}

#taskList .ui.styled.accordion {
	font-size: 20px;
	margin-top: 20px;
	width: 100%;
}

#taskList .title {
	padding: 25px 0px 25px 40px;
	position: relative;
    overflow: hidden;
}

#taskList .content {
	background-color: rgb(245, 245, 245);
	padding: 20px 40px;
}

#taskList .date {
	position: absolute;
	right: 0;
	margin-right: 40px;
	transition: 500ms;
}

.icons {
	position: absolute;
    right: -125px;
    width: 130px;
    height: 72px;
    margin-top: -25px;
    transition: 500ms;
}

.icons .ui.button {
	border-radius: 0;
	margin: 0;
	padding: 27px 20px;
}

.icons .ui.button .icon {
	font-size: 20px;
	margin: 0 !important;
}

.title:hover .date {
    right: 122px !important;
}

.title:hover .icons {
    right: -3px !important;
}