body {
	background-color: aliceblue;
}

#mainContainer {
	padding-top: 3.6rem;
}

#mainContainer > .ui.container {
	padding-top: 40px;
}

#errorMessage {
	text-align: center;
}

#header .item {
	font-size: 18px;
	outline: 0;
}

/* Overriding Semantic UI Styles */

.icon {
	margin: 0 !important;
}

.ui.yellow.button:not(:hover) {
	background-color: #fbbd08 !important;
}

.ui.green.button:not(:hover) {
	background-color: #21ba45 !important;
}