#landing .header {
	margin-bottom: 5%;
	padding: 30px 5%;
}

#landing .header h1 {
	font-size: 42px;
	margin-bottom: 30px;
}

#landing .header p {
	font-size: 24px;
}

/*Overriding Semantic UI Styles*/
#landing .segment {
	background-color: transparent;
}

#landing #userForm .eight.wide.column {
	width: 100% !important;
}

/*Responsive Styles*/
@media only screen and (max-width: 992px) {
	#landing .middle.aligned.column {
		width: 100%;
	}

	#landing .vertical.divider {
		display: none;
	}
}

@media only screen and (min-width: 993px) {
	#landing .horizontal.divider {
		display: none;
	}
}

/*Animations*/
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#landing {
	animation: 2s fadeIn;
}